:root { 
    --black: #000000;
    --dull-lavender: #a786f3;
    --eerie-black-2: #1a191cb2;
    --eerie-black-22: #1a191c;
    --eerie-black-42: #18181a;
    --indigo: #5454d4;
    --heavy-metal: #2c2c2c;
    --humming-bird: #d1f5ed;
    --mexican-red: #ac2019;
    --sauvignon: #fcf6f3;
    --mustard: #fedc5a;
    --vanilla-ice: #f3d9e0;
    --white: #ffffff;
    --white-23: #ffffffb2;
    --white-22: #ffffffab;
   
    --font-size-l2: 30px;
    --font-size-l: 30px;
    --font-size-l2: 36px;
    --font-size-m2: 28px;
    --font-size-s22: 20px;
    --font-size-xl2: 22px;
    --font-size-xxl: 50px;
    --font-size-xxl2: 23px;
    --font-size-xxxl: 35px;
    --font-size-xxxxl: 40px;
    --font-size-xxxxl2: 26px;
   
    --font-family-inter: "Inter", Helvetica;
    --font-family-nunito_sans: "Nunito Sans", Helvetica;
    --font-family-inter: "Inter", Helvetica;
    --font-family-inter-semibold: "Inter-SemiBold", Helvetica;
  }
  .inter-bold-eerie-black-40px {
    color: var(--eerie-black-22);
    font-family: var(--font-family-inter);
    font-size: var(--font-size-xxxxl);
    font-style: normal;
    font-weight: 700;
  }
  
  .inter-medium-eerie-black-28px {
    color: var(--eerie-black-22);
    font-family: var(--font-family-inter);
    font-size: var(--font-size-m2);
    font-style: normal;
    font-weight: 500;
  }
  
  .inter-light-eerie-black-28px {
    color: var(--eerie-black-22);
    font-family: var(--font-family-inter);
    font-size: var(--font-size-m2);
    font-style: normal;
    font-weight: 300;
  }
  
  .nunitosans-normal-eerie-black-22px {
    color: var(--eerie-black-2);
    font-family: var(--font-family-nunito_sans);
    font-size: var(--font-size-xl2);
    font-style: normal;
    font-weight: 400;
  }
  
  .nunitosans-normal-eerie-black-26px {
    color: var(--eerie-black-22);
    font-family: var(--font-family-nunito_sans);
    font-size: var(--font-size-xxxxl2);
    font-style: normal;
    font-weight: 400;
  }
  
  .inter-bold-white-25px {
    color: var(--white);
    font-family: var(--font-family-inter);
    font-size: 25px;
    font-style: normal;
    font-weight: 700;
  }
  
  .inter-bold-eerie-black-60px {
    color: var(--eerie-black-22);
    font-family: var(--font-family-inter);
    font-size: 60px;
    font-style: normal;
    font-weight: 700;
  }
  
  .inter-normal-white-20px {
    color: var(--white);
    font-family: var(--font-family-inter);
    font-size: var(--font-size-s22);
    font-style: normal;
    font-weight: 600;
  }
  
  .nunitosans-normal-eerie-black-35px {
    color: var(--eerie-black-22);
    font-family: var(--font-family-nunito_sans);
    font-size: var(--font-size-xxxl);
    font-style: normal;
    font-weight: 400;
  }
  
  .inter-bold-eerie-black-100px {
    color: var(--eerie-black-22);
    font-family: var(--font-family-inter);
    font-size: 100px;
    font-style: normal;
    font-weight: 700;
  }
  
  .nunitosans-normal-eerie-black-30px {
    color: var(--eerie-black-22);
    font-family: var(--font-family-nunito_sans);
    font-size: var(--font-size-l2);
    font-style: normal;
    font-weight: 400;
  }
  
  .inter-bold-eerie-black-75px {
    color: var(--eerie-black-22);
    font-family: var(--font-family-inter);
    font-size: 75px;
    font-style: normal;
    font-weight: 700;
  }
  
  .inter-bold-white-30px {
    color: var(--white);
    font-family: var(--font-family-inter);
    font-size: var(--font-size-l2);
    font-style: normal;
    font-weight: 700;
  }
  .nunitosans-normal-white-30px {
    color: var(--white-23);
    font-family: var(--font-family-nunito_sans);
    font-size: var(--font-size-l2);
    font-style: normal;
    font-weight: 400;
  }

  .inter-bold-eerie-black-58px {
    color: var(--eerie-black-22);
    font-family: var(--font-family-inter);
    font-size: 58px;
    font-style: normal;
    font-weight: 700;
  }
  
  .nunitosans-normal-eerie-black-20px {
    color: var(--eerie-black-2);
    font-family: var(--font-family-nunito_sans);
    font-size: var(--font-size-s22);
    font-style: normal;
    font-weight: 400;
  }
  
  .inter-bold-eerie-black-35px {
    color: var(--eerie-black-22);
    font-family: var(--font-family-inter);
    font-size: var(--font-size-xxxl);
    font-style: normal;
    font-weight: 700;
  }
  
  .border-1px-white {
    border: 1px solid var(--white);
  }
  
  .border-3px-eerie-black {
    border: 3px solid var(--eerie-black-22);
  }
  
  .border-1px-eerie-black {
    border: 1px solid var(--eerie-black-22);
  }
  
  .border-3-6px-eerie-black {
    border: 3.6px solid var(--eerie-black-22);
  }
  
  .border-1-2px-eerie-black {
    border: 1.2px solid var(--eerie-black-22);
  }

  .border-3px-white {
    border: 3px solid var(--white);
  }

  .border-3-6px-white {
    border: 3.6px solid var(--white);
  }
  
  .border-2px-white {
    border: 2px solid var(--white);
  }
  
  .border-4px-white {
    border: 4px solid var(--white);
  }
  
  /* Sign In*/
  .border-1px-pumice {
    border: 1px solid var(--pumice);
  }

  .inter-bold-black-28px {
    color: var(--black);
    font-family: var(--font-family-inter);
    font-size: var(--font-size-m2);
    font-style: normal;
    font-weight: 700;
  }
  
  .inter-normal-silver-chalice-28px {
    color: var(--silver-chalice);
    font-family: var(--font-family-inter);
    font-size: var(--font-size-m2);
    font-style: normal;
    font-weight: 400;
  }
  
  .inter-bold-black-16px {
    color: var(--black);
    font-family: var(--font-family-inter);
    font-size: var(--font-size-s2);
    font-style: normal;
    font-weight: 700;
  }
  
  .inter-normal-eerie-black-16px {
    color: var(--eerie-black-43);
    font-family: var(--font-family-inter);
    font-size: var(--font-size-s2);
    font-style: normal;
    font-weight: 400;
  }
  
  .inter-bold-white-28px {
    color: var(--white);
    font-family: var(--font-family-inter);
    font-size: var(--font-size-m2);
    font-style: normal;
    font-weight: 700;
  }
  
  .inter-bold-black-36px {
    color: var(--black);
    font-family: var(--font-family-inter);
    font-size: var(--font-size-l2);
    font-style: normal;
    font-weight: 700;
  }
  
  .inter-normal-black-28px {
    color: var(--black);
    font-family: var(--font-family-inter);
    font-size: var(--font-size-m2);
    font-style: normal;
    font-weight: 400;
  }
  
  .inter-bold-white-16px {
    font-family: var(--font-family-inter);
    font-size: var(--font-size-s2);
    font-style: normal;
    font-weight: 700;
  }
  
  .inter-bold-dull-lavender-16px {
    color: var(--dull-lavender);
    font-family: var(--font-family-inter);
    font-size: var(--font-size-s2);
    font-style: normal;
    font-weight: 700;
  }
  
  .inter-normal-black-14px {
    color: var(--black);
    font-family: var(--font-family-inter);
    font-size: var(--font-size-xs2);
    font-style: normal;
    font-weight: 400;
  }

  .inter-semi-bold-heavy-metal-25px {
    color: var(--heavy-metal);
    font-family: var(--font-family-inter-semibold);
    font-size: var(--font-size-xl2);
    font-style: normal;
    font-weight: 600;
  }
  
  .inter-semi-bold-heavy-metal-36px {
    color: var(--heavy-metal);
    font-family: var(--font-family-inter-semibold);
    font-size: var(--font-size-l2);
    font-style: normal;
    font-weight: 600;
  }
  
  .inter-semi-bold-mexican-red-25px {
    color: var(--mexican-red);
    font-family: var(--font-family-inter-semibold);
    font-size: var(--font-size-xl2);
    font-style: normal;
    font-weight: 600;
  }
  
  .inter-semi-bold-white-20px {
    color: var(--white);
    font-family: var(--font-family-inter-semibold);
    font-size: var(--font-size-s22);
    font-style: normal;
    font-weight: 600;
  }
  
  .inter-semi-bold-mustard-25px {
    color: var(--mustard);
    font-family: var(--font-family-inter-semibold);
    font-size: var(--font-size-xl2);
    font-style: normal;
    font-weight: 600;
  }
  
  .inter-semi-bold-heavy-metal-23px {
    color: var(--heavy-metal);
    font-family: var(--font-family-inter-semibold);
    font-size: var(--font-size-xxl2);
    font-style: normal;
    font-weight: 600;
  }
  
  .inter-semi-bold-eerie-black-25px {
    color: var(--eerie-black-22);
    font-family: var(--font-family-inter-semibold);
    font-size: var(--font-size-xl2);
    font-style: normal;
    font-weight: 600;
  }
  
  .inter-bold-heavy-metal-50px {
    color: var(--heavy-metal);
    font-family: var(--font-family-inter);
    font-size: var(--font-size-xxl);
    font-style: normal;
    font-weight: 700;
  }
  
  .inter-bold-white-30px {
    color: var(--white);
    font-family: var(--font-family-inter);
    font-size: var(--font-size-l);
    font-style: normal;
    font-weight: 700;
  }
  
  .border-15px-black {
    border: 15px solid var(--black);
  }
  